.course-outline > p,
.course-objective p{
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.course-objective p:nth-of-type(2){
font-size: 17px;

}
.course-outline >ul,
.course-objective ul {
    margin-left: 0.5rem;
}

.course-outline >ul li,
.course-objective ul li{
    font-size: 0.875rem /* 14px */;
    font-weight: 500;
    line-height: 1.25rem /* 20px */;
    color: #888;
    list-style-type: disc;
    margin: 0.5rem 0 /* 8px */;
}